.grid-area {
    font-size: 2.5em;
}
.game_state_container {  
 display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  gap: 0px 0px 0px 0px;
  grid-auto-flow: row;
  grid-template-areas:
    "_toggle _p1PointsMem"
    "_tieBreakOnly _p2PointsMem "
    "_started _rotaryPosition "
    "_p1GamesMem _p2GamesMem"
    "_p1SetsMem _p2SetsMem"
    "_updateDisplayDelay _tieLEDsOn"
    "_now _previousTime "
    "_buttonDelay _playerButton"
    "_tieBreak _serve"
    "_pointFlash _prevRotaryPosition"
    "_undo _rotaryChange"
    "_flashDelay _gameFlashDelay"
    "_tiePulseCount _gameWinPulseCount"
    "_setWinPulseCount _matchWinPulseCount"
    "_serveSwitch _setTieBreakMem"
    "_tieBreakMem _setTieBreak"
    "player_1_points player_2_points"
    "player_1_sets   player_2_sets  "
    "player_1_games  player_2_games ";
}

._p1PointsMem { grid-area: _p1PointsMem; }

._tieBreakOnly { grid-area: _tieBreakOnly; }

._p2PointsMem { grid-area: _p2PointsMem; }

._p1GamesMem { grid-area: _p1GamesMem; }

._p2GamesMem { grid-area: _p2GamesMem; }

._p1SetsMem { grid-area: _p1SetsMem; }

._p2SetsMem { grid-area: _p2SetsMem; }

._toggle { grid-area: _toggle; }

._teiBreakOnly { grid-area: _teiBreakOnly; }

.p1Matches { grid-area: p1Matches; }

.p2Matches { grid-area: p2Matches; }

._tieLEDsOn { grid-area: _tieLEDsOn; }

._setTieBreak { grid-area: _setTieBreak; }

._tieBreak { grid-area: _tieBreak; }

._serve { grid-area: _serve; }

._pointFlash { grid-area: _pointFlash; }

._started { grid-area: _started; }

._rotaryPosition { grid-area: _rotaryPosition; }

._playerButton { grid-area: _playerButton; }

._prevRotaryPosition { grid-area: _prevRotaryPosition; }

._undo { grid-area: _undo; }

._rotaryChange { grid-area: _rotaryChange; }

._now { grid-area: _now; }

._previousTime { grid-area: _previousTime; }

._updateDisplayDelay { grid-area: _updateDisplayDelay; }

._buttonDelay { grid-area: _buttonDelay; }

._flashDelay { grid-area: _flashDelay; }

._gameFlashDelay { grid-area: _gameFlashDelay; }

._tiePulseCount { grid-area: _tiePulseCount; }

._gameWinPulseCount { grid-area: _gameWinPulseCount; }

._setWinPulseCount { grid-area: _setWinPulseCount; }

._matchWinPulseCount { grid-area: _matchWinPulseCount; }

._serveSwitch { grid-area: _serveSwitch; }

._setTieBreakMem { grid-area: _setTieBreakMem; }

._tieBreakMem { grid-area: _tieBreakMem; }

.player_1_points { grid-area: player_1_points; }

.player_2_points { grid-area: player_2_points; }

.player_1_sets { grid-area: player_1_sets; }

.player_2_sets { grid-area: player_2_sets; }

.player_1_games { grid-area: player_1_games; }

.player_2_games { grid-area: player_2_games; }

